In [ ]:
# here we are going to work with pandas
#Pandas - we are going tp start working with 3 types of data (series, dataframes and pannels)

import pandas as pd
import numpy as np

# WORKING WITH SERIES FIRST

In [ ]:
#lets create a series from pandas
#when you create series from a list pandas automatically creates the indexes starting from 0
series_month_numbers = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
series_month_numbers

In [ ]:
#now we create a Panda Series with month names
series_month_names = pd.Series(['January','February','March','April','May','June','July','August','September','October','November','December'])

In [ ]:
#here we can create the Series in pandas with the index that we want, in this case the index are the months´ names
series_month_names_indexed = pd.Series(np.arange(1,13),index=series_month_names)
series_month_names_indexed

In [ ]:
type(series_month_names_indexed)

In [ ]:
#retrieve the index range from the pandas series when we didi not define the index
series_month_names.index

In [ ]:
#when we define the index pandas returns the index values
series_month_names_indexed.index

In [ ]:
#We can also create Series with dictionaries
#In this case pandas already knows that the dictionary is indexed and autmatically sets the index as they are 
#in the dictionary
dic_worldcup = {'Brazil':5, 'Germany':4, 'Italy':4,'Argentina':2,'Uruguai':2,'Ingland':1}
series_dictionary = pd.Series(dic_worldcup)
series_dictionary

In [ ]:
#we can do the same thing but passing the indexes we want
#note that Ingland will be out of the series and Spain will be included in the index with NAN value
dic_worldcup = {'Brazil':5, 'Germany':4, 'Italy':4,'Argentina':2,'Uruguai':2,'Ingland':1}
series_dictionary = pd.Series(dic_worldcup,index=['Brazil', 'Germany', 'Italy','Argentina','Uruguai','Spain'])
series_dictionary

In [ ]:
series_dictionary.index

In [1]:
#we can retrieve the item from the series with the indexes we set but pandas also keeps the original indexes starting 
#from zero
series_dictionary['Brazil']

NameError: name 'series_dictionary' is not defined

In [ ]:
series_dictionary[0]

In [ ]:
#Writting to a series
series_dictionary['Spain'] = 1
series_dictionary

In [ ]:
series_dictionary[series_dictionary > 4]

# WORKING WITH EXCEL FILES WITH PANDAS and DATAFRAMES

In [ ]:
#we are going to open an excel file with 3 spreadsheets, read one spreadsheet from it
#note that pandas creates a daata frame and not a series
var_file = 'C:\\Data Science Projects\\JupyterNB\\Alunos.xlsx'
file_excel = pd.ExcelFile(var_file)
file_excel_alunos = file_excel.parse('Alunos')
#panda creates a datafrfame here
file_excel_alunos

In [ ]:
type(file_excel_alunos)

In [ ]:
#we can retrieve an item in dataframe by the index which is the column name
file_excel_alunos['Alunos'][0]

In [ ]:
#useing dot notation with the column name as the 
file_excel_alunos.Alunos[0]

In [ ]:
file_excel_alunos.columns

In [ ]:
#we can bring anotherr spreadsheet that has more columns
file_excel_alunos = file_excel.parse('Trimestre')

In [ ]:
file_excel_alunos.columns

In [ ]:
file_excel_alunos['Mês 01'][1]

In [ ]:
#dot notation does not work if the column names have spaces or special characters
file_excel_alunos.Mês 01

In [ ]:
#adicionando uma nova coluna no arquivo com o nome completo
file_excel_alunos['Nome Completo'] = file_excel_alunos['Alunos'] + ' ' + file_excel_alunos['Sobrenome']
file_excel_alunos

In [ ]:
#lets open a CSV file now and correct the encoding of the file to latin-1
var_file = 'C:\\Data Science Projects\\JupyterNB\\Diarias.csv'
file_daily_payments = pd.read_csv(var_file, encoding='latin-1',sep = '\t')
file_daily_payments.head(6)

In [ ]:
type(file_daily_payments)

In [ ]:
file_daily_payments.shape

In [ ]:
file_daily_payments.dtypes

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\movies.csv'
file_movies = pd.read_csv(var_file)
file_movies.head()

In [ ]:
#by default this methid only brings statistics of integers
file_movies.describe()

In [ ]:
file_movies.shape

In [ ]:
#object is string
file_movies.dtypes

In [ ]:
#we can tell the describe method to use other data types
#to see the aruments accepted by the method place the cursos inside the parenthesis and press SHIT+TAB
file_movies.describe(include=['object'])

In [ ]:
#renaming columns
file_movies.columns

In [ ]:
file_movies.rename(columns={'start rating':'start_rating','content rating':'content_rating'}, inplace=True)

In [ ]:
file_movies.columns

In [ ]:
#we can combine python to replace spaces in the column name with underline
file_movies.columns = file_movies.columns.str.replace(' ','_')
file_movies.columns

In [ ]:
#removeing a columns from a dataframe
file_movies_01 = file_movies.drop('content_rating', axis=1)
file_movies_01.head()

In [ ]:
#deleting several columns at one passing a list
file_movies_02 = file_movies_01.drop(['genre','duration'], axis=1)
file_movies_02.head()

In [ ]:
#removeing lines from the dataframe
file_movies_03 = file_movies_02.drop([0,1], axis=0)

In [ ]:
file_movies_03.head()

In [ ]:
# ORDERING DATAFRAMES
var_file = 'C:\\Data Science Projects\\JupyterNB\\movies.csv'
var_cols = ['star_rating', 'title', 'content_rating', 'genre', 'duration','actors_list']
file_movies = pd.read_csv(var_file,header=0,names=var_cols)
file_movies.columns

In [ ]:
file_movies.head(10)

In [ ]:
type(file_movies)

In [ ]:
#this method sort_values retursn a series when useing dot notation
srt_file_movies = file_movies.title.sort_values().head(10)
srt_file_movies

In [ ]:
type(srt_file_movies)

In [ ]:
srt_file_movies

In [ ]:
file_movies.title.sort_values().head(10)

In [ ]:
#if you want to return a dataframe from the method sort_values you can not use dot notation
dtframe_movies = file_movies.sort_values('title',ascending=True).head(10)
type(dtframe_movies)

In [ ]:
dtframe_movies

In [ ]:
dtframe_movies = file_movies.sort_values(['genre','duration'],ascending=True).head(30)
dtframe_movies

In [ ]:
#filtering based on a specific column
bool_filter = []

for item_duration in file_movies.duration:
    if item_duration >= 180:
        bool_filter.append(True)
    else:
        bool_filter.append(False)
bool_filter[:10]

In [ ]:
len(bool_filter)

In [ ]:
#converting list to series in pandas
film_duration = pd.Series(bool_filter)
type(film_duration)

In [ ]:
film_duration.head(10)

In [ ]:
#retrieveing 10 lines indexed by title from 0 to 9
print(file_movies['title'][:10])

In [ ]:
#here we can apply a boolean list to the dataframe and it will return only the records that match the criteria
file_movies[film_duration]

In [ ]:
file_movies[film_duration][['title', 'content_rating']]

In [ ]:
#returns the records that meet the criteria as a boolean series
a = file_movies.duration >= 200
a

In [ ]:
#here I can apply the a series on the dataframe
#you can only apply a series to a dataframe
file_movies[a].head()

In [ ]:
#here we do the same thing useing list comprehation
file_movies[file_movies.duration >= 200].head()

In [ ]:
#here we can do the same thing but returning only the desired column
file_movies[file_movies.duration >= 200].head().genre

In [ ]:
#we can do the same thing with label instead of dot notation
file_movies[file_movies['duration'] >= 200].head()['genre']

In [ ]:
#USEING THE LOG (EQUIVALENT TO JOIN IN SQL)
file_movies.loc[file_movies.duration >= 200,'genre'].head()

In [ ]:
#iterando dataframes
#here we iterate the entire dataframe and print just the tytle
for item in file_movies.title:
    print(item)

In [ ]:
#here we can do the same thing useing the iterrrows method

for index, item in file_movies.iterrows():
    print(index, item.title, ' - ', item.duration,' - ', item.star_rating)

In [ ]:
#useing the describe method, by default it only returns the statistics on the numeric columns
file_movies.describe()

In [ ]:
#this includes the statistics of numeric and categorical columns
file_movies.describe(include='all')

In [ ]:
#this includes the statistics of the disired data types
file_movies.describe(include=['object','float64'])

In [ ]:
#working with logic operators AND
print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
#working with logic operators OR
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
#useing the AND
drams_long = file_movies[(file_movies.duration > 200) & (file_movies.genre == 'Drama')]
drams_long

In [ ]:
#useing the OR
drams_long = file_movies[(file_movies.duration > 200) | (file_movies.genre == 'Drama')]
drams_long.head()

In [ ]:
#useing the OR
file_movies[(file_movies.genre == 'Action') | (file_movies.genre == 'Drama')].head()

In [ ]:
#useing the method ISIN
file_movies[file_movies.star_rating.isin([9.0,9.2,9.3])].head()

# WWORKING WITH AXIS IN PYTHON

In [ ]:

var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks.csv'
file_drinks = pd.read_csv(var_file)
file_drinks.columns

In [ ]:
type(file_drinks)

In [ ]:
file_drinks.head()

In [ ]:
#axis 1 manupulates columns
file_drinks.drop('continent', axis=1).head()

In [ ]:
#axis 0 manupulates lines
file_drinks.drop(2, axis=0).head()

In [ ]:
#getting the mean of the numeric columns
file_drinks.mean()

In [ ]:
file_drinks.describe()

In [ ]:
file_drinks.mean(axis=0)

In [ ]:
file_drinks.mean(axis=1).head()

In [ ]:
#index is an alias for axis=0 or lines or line by line
file_drinks.mean(axis='index').head()

In [ ]:
#columns is alias for axis 1 or column or column by column
file_drinks.mean(axis='columns').head()

In [ ]:
#adding values on an axis 0  lines or line by line
file_drinks.sum(axis=0).head()

In [ ]:
#adding values on an axis 1 or column by column
file_drinks.sum(axis=1).head()

In [ ]:
file_drinks.head()

In [ ]:
file_drinks.dtypes

In [ ]:
#converting the object population into integer withou points for the entire dataframe
lst_int = []
for item_pop in file_drinks.population:
    a = item_pop.replace('.','')
    lst_int.append(int(a))
lst_int[:10]

In [ ]:
file_drinks['pot_total'] = pd.Series(lst_int)
file_drinks.head()

In [ ]:
file_drinks.dtypes

In [ ]:
new_file_drinks = file_drinks.drop('population',axis=1)
new_file_drinks.head()

In [ ]:
new_file_drinks.describe()

# WORKING WITH STRINGS

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\Sanduiches.txt'
file_sand = pd.read_table(var_file) 
file_sand.columns

In [ ]:
file_sand.head()

In [ ]:
#transforming string in upper case
file_sand['item_name'].str.upper().head()

In [ ]:
#finding all records in the dataframe that contains a string passed
#this returns a Series of type boolean
file_sand.item_name.str.contains('Chicken').head()

In [ ]:
#here we apply the filter for Chicken and returned another dataframe
file_sand_new = file_sand[file_sand.item_name.str.contains('Chicken')].head()
file_sand_new.head()

In [ ]:
type(file_sand_new)

In [ ]:
#useing the replace method
file_sand.choice_description.str.replace('[','').str.replace(']','').head()

# WORKING WITH DATA TYPE CONVERSION

In [ ]:
file_drinks.head()

In [ ]:
file_drinks['beer_servings'] = file_drinks.beer_servings.astype(float)

In [ ]:
file_drinks.head()

In [ ]:
file_drinks.dtypes

In [ ]:
#convedrting data type while reading a file
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks.csv'
file_drinks = pd.read_csv(var_file,dtype={'beer_servings':float})
file_drinks.dtypes

In [ ]:
file_sand.head()

In [ ]:
#here in one shot we converted the item price (string) to float and retrieved the mean
file_sand.item_price.str.replace('$','').astype(float).mean()

In [ ]:
#converting booleans to 0(false) or 1 (true)
var_a = file_sand.item_name.str.contains('Chicken').astype(int).head(20)
var_a

In [ ]:
var_a.dtype

In [ ]:
#summing all the records that have tomatoes in the sandwich
file_sand.item_name.str.contains('Tomato').astype(int).sum()

# WOKING WITH NULL VALUES

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\ufo.csv'
file_ufo = pd.read_csv(var_file)
file_ufo.dtypes

In [ ]:
file_ufo.tail()

In [ ]:
#checking to see if there are null values in the file
file_ufo.isnull().tail()

In [ ]:
#checking to see if there are null values in the file
file_ufo.notnull().tail()

In [ ]:
#how to find how many values are null in each column
file_ufo.isnull().sum()

In [ ]:
file_ufo.notnull().sum()

In [ ]:
#selecting the rows that have null values in a specific column
file_ufo[file_ufo.City.isnull()].head()

In [ ]:
#useing the dropna() funcion that deletes all rows that have null values in a specified column or in any column
#note that the dropna() has the inplace false by default
var_a = file_ufo.shape
var_b = file_ufo.dropna(axis=0,how='any').shape

In [ ]:
print('Deleted lines = ',str(var_a[0] - var_b[0]),' total.')

In [ ]:
file_ufo.dropna(subset=['City', 'Colors Reported'],how='any').shape

In [ ]:
file_ufo.dropna(subset=['City', 'Colors Reported'],how='all').shape

In [ ]:
#returns a summary for each value in the  passed column but does not include NAN values
file_ufo['Shape Reported'].value_counts().head()

In [ ]:
#returns a summary for each value in the  passed column but we caan also count the NAN values
file_ufo['Shape Reported'].value_counts(dropna=False).head()

In [ ]:
#here we can use this fillna() funcion to replace NAN with a value
file_ufo['Shape Reported'].fillna('OTHER', inplace=True)
file_ufo.head()

In [ ]:
file_sand.choice_description.str.contains('Coke').sum()

In [ ]:
file_ufo.City.isnull().sum()

In [ ]:
#here we replpace all the null values with 'OTHER' so we can convert as type(int)
#however we can use the sum directly withou the astype
file_ufo['City'].fillna('OTHER', inplace=True)
file_ufo.City.str.contains('Ithaca').astype(int).sum()
file_ufo.City.str.contains('Ithaca').sum()