# WORKING WITH PANDAS

## WORKING WITH GROUP BY

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks.csv'
file_drinks = pd.read_csv(var_file)
file_drinks.head()

In [ ]:
#gets the average of drinking beer in the cou tries listed
file_drinks.beer_servings.mean()

In [ ]:
#we cal also do the same thing for a specific region using a logig filter as index
file_drinks[file_drinks.continent=='Europe'].beer_servings.mean()

In [ ]:
var_continent = file_drinks.groupby('continent').beer_servings.mean()

In [ ]:
var_continent.sort_values(ascending=True)

In [ ]:
#how do we get the country that drinks more beer in each continent
file_drinks.groupby('continent').beer_servings.max().sort_values(ascending=False)

In [ ]:
#we can use the agg to agregate the counts passed as parameters
file_drinks.groupby('continent').beer_servings.agg(['count','mean','max','min'])

In [ ]:
file_drinks.groupby('continent').agg('mean').plot(kind='bar')

In [ ]:
#getting the mean of all types of drinks now
file_drinks.groupby('continent').mean()

In [ ]:
%matplotlib inline

In [ ]:
file_drinks.groupby('continent').mean().plot(kind='bar')

###### EXERCISE - DATA SET SANDWICH
CALCULATE THE TOTAL OS SALES BY ORDER_ID
CALCULATE THE TOTAL OF ITEMS BY ORDER_ID

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\Sanduiches.txt'
file_sales = pd.read_table(var_file)
file_sales.head()

In [ ]:
file_sales.dtypes

In [ ]:
file_sales['intem_price_int'] = file_sales.item_price.str.replace('$','').astype(float)

In [ ]:
file_sales.dtypes

In [ ]:
file_sales.head()

In [ ]:
total_by_orderid = file_sales.groupby('order_id').intem_price_int.sum()
total_by_orderid.head()

In [ ]:
print(total_by_orderid.max())
print(total_by_orderid.min())

In [ ]:
file_sales.groupby('order_id').quantity.sum().head()

## WORKING WITH CATEGORICAL SERIES

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\movies.csv'
var_cols = ['star_rating', 'title', 'content_rating', 'genre', 'duration','actors_list']
file_movies = pd.read_csv(var_file,header=0,names=var_cols)
file_movies.columns

In [ ]:
file_movies.head()

In [ ]:
#here we can return out of the not null values the count, unique, top and frequency of the items
file_movies.genre.describe()

In [ ]:
#we can check the frequency of each genre and show the frequency as total count
file_movies.genre.value_counts()

In [ ]:
#we can check the frequency of each genre and show the frequency as percentiles
file_movies.genre.value_counts(normalize=True)

In [ ]:
file_movies.genre.value_counts().plot(kind='bar')

In [ ]:
#shows the unique values in a column
file_movies.genre.unique()

In [ ]:
file_movies.head()

In [ ]:
#shows how many unique values in a column
file_movies.genre.nunique()

In [ ]:
#here we can cross reference star_rating and genre counting the frequency star_rating occurred
pd.crosstab(file_movies.genre, file_movies.star_rating)

In [ ]:
pd.crosstab(file_movies.content_rating, file_movies.genre)

## WORKING WITH NUMERIC SERIES

In [ ]:
file_movies.head()

In [ ]:
file_movies.dtypes

In [ ]:
file_movies.describe()

In [ ]:
file_movies.duration.describe()

In [ ]:
file_movies.duration.plot(kind='hist')

In [ ]:
file_movies.duration[::5].describe()

In [ ]:
file_movies.duration[::5].plot(kind='hist')

In [ ]:
file_movies.duration[::30].describe()

In [ ]:
file_movies.duration[::30].plot(kind='hist')

In [ ]:
file_movies.genre.value_counts().describe()

In [ ]:
file_movies.genre.value_counts().plot(kind='bar')

## MANIPULATING INDEXES

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks.csv'
file_drinks = pd.read_csv(var_file)
file_drinks.head()

In [ ]:
file_drinks.index

In [ ]:
file_drinks.columns

In [ ]:
file_drinks.shape

In [ ]:
#note that pandas creates the indexes on the columns and on the rows
var_file = 'C:\\Data Science Projects\\JupyterNB\\espectadores.txt'
pd.read_table(var_file, header=None, sep='|').head()

## The indexes are used for :

### 1) Identification

### 2) Data selection

### 3) Alignment of the data

# IDENTIFICATION - IDENTIFICATION - IDENTIFICATION - IDENTIFICATION

In [ ]:

#IDENTIFICATION - IDENTIFICATION - IDENTIFICATION - IDENTIFICATION

file_drinks[file_drinks.continent=='South America']

# DATA SELECTION - DATA SELECTION - DATA SELECTION - LOC - LOC

In [ ]:

#DATA SELECTION - DATA SELECTION - DATA SELECTION - LOC - LOC

file_drinks.loc[6,'beer_servings']

In [ ]:
#changing the index to a column
file_drinks.set_index('country', inplace=True)
file_drinks.head()

In [ ]:
file_drinks.shape

In [ ]:
file_drinks.index

In [ ]:
file_drinks.loc['Brazil','beer_servings']

In [ ]:
#Testing plot
file_drinks[file_drinks.continent=='South America']['wine_servings'].plot('bar')

In [ ]:
file_drinks.head()

In [ ]:
#namming an index
file_drinks.index.name = None
file_drinks.head()

In [ ]:
file_drinks.index.name = 'Country'
file_drinks.head()

In [ ]:
#resetting the index to the original index when we oppened the file
file_drinks.reset_index(inplace=True)
file_drinks.head()

## Dataframes methods in series

In [ ]:
#the return from this method describe() reutrns a dataframe so we can use dataframe methos on it as well
file_drinks.describe()

In [ ]:
#here the describe returns a dataframe so we can use dataframe metho loc on the result with dot notation
file_drinks.describe().loc['mean', 'beer_servings']

In [ ]:
#when we get a series as a result pandas brings us the index FROM THE DATAFRAME
file_drinks.continent.head()

In [ ]:
file_drinks.continent.tail()

In [ ]:
file_drinks.head()

In [ ]:
#set the index to country again
file_drinks.set_index('country',inplace=True)

In [ ]:
file_drinks.head()

In [ ]:
#value_counts() also returns a series - so we can use dataframe methos on it
#we can use the value_counts() on categorical indexes
file_drinks.continent.value_counts()

In [ ]:
#you can check the categorical index on the value_counts() return
file_drinks.continent.value_counts().index

In [ ]:
#we can also access the values from the series returned by value_counts() - it returns an array
file_drinks.continent.value_counts().values

In [ ]:
#we can also access the series returned by value_counts() useing the index country
file_drinks.continent.value_counts()['Africa']

## SORTING SERIES FROM DATAFRAMES

In [ ]:
#sort by value
file_drinks.continent.value_counts().sort_values()

In [ ]:
#sort by index
file_drinks.continent.value_counts().sort_index()

# Alignment of the data - Alignment of the data -Alignment of the data

In [ ]:
#alignning series and dataframes means a concatenation of both based on the index
#first we create a series Continent with new column Consumption and the same indexes as Drinks
series_continent = pd.Series(data=['High','Mediam','Low'], index=['Africa','Asia','Europe'],name='Consumption')
series_continent.head()

In [ ]:
#here we concatenate Drinks with the new series Continent putting the columns side by seide axis 1 lines
#this fills the 3 indexes with the values in continent and for the other records on drinks it fills with NAN
pd.concat([file_drinks,series_continent], axis=1).head(20)

# GROUP BY AND RESHAPE

In [ ]:
file_drinks.head()

In [ ]:
#creating a new column in the dataframe and useing a funcion to populate based on another column of the dataframe
def consumption(val):
    if val <= 75:
        return 'Low'
    if val >= 150:
        return 'High'
    else:
        return 'Medium'

In [ ]:
#we use the apply method that applies the funcion or method called line by line on the dataframe and 
#then we return the result on the new column in the dataframe
file_drinks['consumption'] = file_drinks.beer_servings.apply(consumption)
file_drinks.head()

# EXPORTING DATAFRAMES TO A FILE

In [ ]:
#reseting the index on the dataframe to the original index
file_drinks.reset_index(inplace=True)
file_drinks.head()

In [ ]:
#expporting without index
file_drinks.to_csv('drinks_no_index.csv',encoding='utf-8', index=False)

In [ ]:
#expporting with index
file_drinks.to_csv('drinks_yes_index.csv',encoding='utf-8', index=True)

In [ ]:
 #expporting tab separated with defaul
file_drinks.to_csv('drinks_tab_index.csv',encoding='utf-8', sep='\t')

# READING DATAFRAMES FROM FILES

In [ ]:
#pandas always ignores the index saved and reindexes the data
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks_no_index.csv'
file_drinks_no = pd.read_csv(var_file)
file_drinks_no.head()

In [ ]:
#pandas always ignores the index saved and reindexes the data
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks_yes_index.csv'
file_drinks_yes = pd.read_csv(var_file)
file_drinks_yes.head()

In [ ]:
#pandas always ignores the index saved and reindexes the data
#NOTE: Here we used a read_csv instead of read_table but we passed a \t separator
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks_tab_index.csv'
file_drinks_tab = pd.read_csv(var_file,sep='\t')
file_drinks_tab.head()

In [ ]:
#pandas always ignores the index saved and reindexes the data
var_file = 'C:\\Data Science Projects\\JupyterNB\\drinks_tab_index.csv'
file_drinks_tab = pd.read_table(var_file)
file_drinks_tab.head()

In [ ]:
#do a count on the dataset to see if there are null columns
file_drinks_tab.count()

# DELETING A COLUMN FROM THE DATAFRAME

In [ ]:
#deletes a column
del file_drinks['population']

In [ ]:
file_drinks.head()

In [ ]:
file_drinks_grouped = file_drinks.groupby('continent')

In [ ]:
type(file_drinks_grouped)

In [ ]:
#displays the groups
file_drinks_grouped.groups

In [ ]:
#how many groups
len(file_drinks_grouped)

In [ ]:
#order the groups
ordered_groups = file_drinks_grouped.size()

In [ ]:
ordered_groups

In [ ]:
#ordering in ascending order
ordered_groups.sort_values(ascending=True)
ordered_groups

### BACK TO THE DRINKS DATASET

In [ ]:
#we can group by more than one column
file_drinks_2 = file_drinks.groupby(['continent','consumption'])
file_drinks_2.head(1)

In [ ]:
#size() function gives us the summary by continent of consuption unique values and its occurrences
file_drinks_3 = file_drinks_2.size()
file_drinks_3

In [ ]:
#here we sort
file_drinks_3.sort_values(ascending=False)
file_drinks_3

# MODIFYING INDEXES

In [ ]:
file_drinks.head()

### GROUP BY LEVEL WITH ONE INDEX SET COLUMN

In [ ]:
#LEST SET THE INDEX BY THE CATEGORICAL COLUMN CONSUMPTION
grouped_file_drinks = file_drinks.set_index('consumption')
grouped_file_drinks.head()

In [ ]:
grouped_file_drinks = grouped_file_drinks.groupby(level='consumption')
grouped_file_drinks.head()

In [ ]:
grouped_file_drinks

In [ ]:
#to display the summary of the groúps
grouped_file_drinks.sum()

### GROUP BY LEVEL WITH INDEX SET TO TWO COLUMNS

In [ ]:
grouped_file_drinks_2 = file_drinks.set_index(['consumption','continent'])

In [ ]:
grouped_file_drinks_2 = grouped_file_drinks_2.groupby(level=['consumption','continent'])

In [ ]:
grouped_file_drinks_2.sum()

### USEING NUMPY TO DO THE SAME AS ABOVE DONE WITH PANDAS

In [ ]:
grouped_file_drinks_2.aggregate(np.sum)

In [ ]:
#the advantage is thaat we can use the aggregate numpy funcion to calclulate other values
grouped_file_drinks_2.aggregate([np.sum,np.mean,np.size])

In [ ]:
#now we do the same thing as above but grouping by continent then consumption instead of consumption then continent
grouped_file_drinks_3 = file_drinks.set_index(['continent','consumption'])

In [ ]:
grouped_file_drinks_3 = grouped_file_drinks_3.groupby(level=['continent','consumption'])

In [ ]:
grouped_file_drinks_3.sum()

### ANOTHER VIEW INTO THE DATA WITH MULTIPLES INDEXES AND ONLY ONE CATEGORICAL COLUMN

In [ ]:
group_file_drinks_4 = file_drinks.set_index(['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol','population','continent','consumption'])

In [ ]:
group_file_drinks_4.columns

In [ ]:
group_file_drinks_4.shape

In [ ]:
group_file_drinks_4 = group_file_drinks_4.groupby(level=['consumption','continent'])

In [ ]:
#count gives us the number of countries consuption by continent by consumption
group_file_drinks_4.count()

In [ ]:
#gives us a list os the countries in each continent by consumption
group_file_drinks_4.sum()

### ANOTHERR VIEW OF CONSUPTION/CONTINENT/BEERSERVINGS BY COUNTRY WITHIN THE CONTINENT

In [ ]:
group_file_drinks_5 = file_drinks.set_index(['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol','population','continent','consumption'])

In [ ]:
group_file_drinks_5 = group_file_drinks_5.groupby(['consumption','continent','beer_servings'])

In [ ]:
group_file_drinks_5.sum()

# WORKING WITH LOC AND ILOC (LOC = LABELS OR CATEGORICAL INDEXES) AND (ILOC = INTEGERS INDEXES)

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\ufo.csv'
file_ufo = pd.read_csv(var_file)
file_ufo.head()

###### WITH LOC WE CAN SELECT LINES AND COLUMNS BY LABEL
PARAMETERS: (LABEL, LABEL LIST, LABLE SLICE,BOOLEAN SERIES,ONE COLUMN ALL LABELS) -
LOC IS INCLUSIVE - 
ILOC IS EXCLUSIVE

In [ ]:
#selects line 0 and all columns
file_ufo.loc[0,:]

In [ ]:
#selects line 0,1,2 and all columns
file_ufo.loc[[0,1,2],:]

In [ ]:
#selects line 0,1,2 and all columns
file_ufo.loc[0:2,:]

In [ ]:
#selects line 0,1,2 and columns CITY
file_ufo.loc[[0,1,2],'City']

In [ ]:
#selects line 0,1,2 and a columns list
file_ufo.loc[[0,1,2],['City','State']]

In [ ]:
#selects line 0,1,2 and a columns slice not a list
file_ufo.loc[[0,1,2],'City':'State']

In [ ]:
#selects all lines where state equal to oakland and returnning the state
file_ufo.loc[file_ufo.City=='Oakland','State']

In [ ]:
#NOTE: We could do the same thing with dot notation but the performanace is no so good
file_ufo[file_ufo.City=='Oakland'].State

In [ ]:
#if we set the index to a lable we can no longer use the LOC passing integers indexes only lable indexes
file_ufo_2 = file_ufo.set_index('State')

In [ ]:
file_ufo_2.head()

In [ ]:
file_ufo_2.loc['NY','City'].head()

In [ ]:
#This lines generates an error
file_ufo_2.loc[0:3,'City'].head()

## NOW WE WORK WITH ILOC

In [ ]:
file_ufo.iloc[[0,1],[0,3]]

In [ ]:
file_ufo.iloc[0:3,0:3]

In [ ]:
file_ufo.iloc[0:4,:]

# WORKING WITH MAESURING TIME IN PANDA

In [ ]:
file_ufo.head()

In [ ]:
#since time is a strig in the dataframe we can slice it with string methods/functions
#this is not reliable
file_ufo['Time'].str.slice(-5,-3).astype(int).head()

In [ ]:
#here we are going to use to_datetime from pandas to convert the column to datetime and create 
#another column in the dataframe
file_ufo['DateTime'] = pd.to_datetime(file_ufo.Time)
file_ufo.head()

In [ ]:
file_ufo.dtypes

### NOW WE CAN WORK WITH ,METHODS OF DATETIME

In [ ]:
file_ufo.DateTime.dt.hour.head(10)

In [ ]:
file_ufo.DateTime.dt.weekday_name.head(10)

In [ ]:
file_ufo.DateTime.dt.dayofyear.head(10)

### CONVERTING AND COMPARING DATE SERIES AND time STAMP

In [ ]:
time_stamp = pd.to_datetime('3/01/1999')
time_stamp

In [ ]:
file_ufo.loc[file_ufo.DateTime >= time_stamp,:].head()

In [ ]:
#finding a most recent date
date_1 = file_ufo.DateTime.max()
date_1

In [ ]:
#finding a oldest date
date_2 = file_ufo.DateTime.min()
date_2

In [ ]:
#the result here is a timedelta and has a bunch of properties and methos to explore
date_3 = date_1 - date_2
date_3

In [ ]:
date_3.days

# WORKING WITH GRAPHICS WITH THE UFO FILE

In [ ]:
%matplotlib inline

In [ ]:
file_ufo.head()

In [ ]:
file_ufo['Year'] = file_ufo.DateTime.dt.year
file_ufo.head()

In [ ]:
file_ufo.Year.value_counts().sort_index(ascending=True).plot(kind='line')

In [ ]:
file_ufo.Year.value_counts()[file_ufo.Year.value_counts() >= 200].sort_index().plot(kind='line')

# HOW TO SELECT DUPLICATED LINES WITH PANDAS

In [ ]:
var_file = 'C:\\Data Science Projects\\JupyterNB\\espectadores.txt'
var_cols = ['user_id','age','gender','ocupation','zipcode']
file_expect = pd.read_table(var_file,sep='|',header=None, names=var_cols,index_col='user_id')
file_expect.head()

In [ ]:
file_expect.shape

In [ ]:
#finding duplicate zip codes
file_expect.zipcode.duplicated().sum()

In [ ]:
#finding entire lines duplicated
file_expect.duplicated().sum()

In [ ]:
# the duplicate method has a parameter keep that can be:
#keep='first´- keeps only the first occurence - NOTE: ALSO BRINGS THE UNIQUE FOR BEING FIRST OCCURRENCE
#keep='last' - keeps only the last occurrence - NOTE: ALSO BRINGS THE UNIQUE FOR BEING LAST OCCURRENCE
#keep='false´- descard all duplicates - NOTE: ONLY BRINGS DUPLICATES

In [ ]:
#filtering duplicates (brings unique records keeping the first duplicate and unique records)
file_expect.loc[file_expect.duplicated(keep='first'), :]

In [ ]:
#filtering duplicates (brings unique records keeping the last duplicate and unique records)
file_expect.loc[file_expect.duplicated(keep='last'), :]

In [ ]:
#filtering duplicates (brings unique records discarding dupplicates)
file_expect.loc[file_expect.duplicated(keep=False), :].sort_values(['zipcode','gender','ocupation'])